/*#header ºÍ #error*/
#error #page-wrapper {
    background: none repeat scroll 0 0 #22282A;
    margin: 0 -20px;
}
#header {
    background: none repeat scroll 0 0 #2D3538;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 56px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
#header .header-item {
    background: none repeat scroll 0 0 #292B2F;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    height: 40px;
    padding: 0;
    vertical-align: middle;
    width: 40px;
}
/*.header-inner*/
.header-inner {
    padding: 8px 10px 0;
    position: relative;
}
.header-inner:after {
    clear: both;
    content: "";
    display: table;
}
.header-inner a {
    color: #959B9D;
}
.header-inner a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
/*.home-link*/
.home-link {
    background: none repeat scroll 0 0 #292B2F;
    float: left;
    margin: -8px 15px 0 -10px;
    padding: 11px 15px;
}
/*.logo*/
.logo {
    background: url("../img/404logo.png") no-repeat scroll 0 0 / 31px 68px transparent;
    display: block;
    height: 34px;
    width: 31px;
}
.logo:hover {
    background-position: 0 -34px;
}
.logo img {
    display: none;
}
/*.primary-nav*/
.primary-nav {
    float: left;
}
.primary-nav li {
    float: left;
    margin: 0 10px 0 0;
}
.primary-nav a {
    border-radius: 4px 4px 4px 4px;
    color: #717376;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    height: 40px;
    letter-spacing: 0;
    line-height: 38px;
    padding: 0 15px;
    position: relative;
}
.primary-nav a:hover {
    color: #8B8D8F;
}
.primary-nav a.selected {
    color: #FFFFFF;
}
.primary-nav a .marker {
    color: #EA6C6C;
    font-size: 9px;
    line-height: 1;
    position: absolute;
    right: -8px;
    top: 10px;
}

.primary-nav .signup-link-highlight {
    color: #82B964;
}
/*.secondary-nav*/
.secondary-nav {
    float: right;
    margin: 0;
}
.secondary-nav  .icon {
    margin: 9px 0 0 14px;
}
.secondary-nav  .icon-help {
    background-position: -14px 0;
}
.secondary-nav li {
    float: left;
    margin-left: 5px;
    position: relative;
}
.secondary-nav .button {
    font-size: 1.2em;
    height: 27px;
    padding: 13px 15px 0;
}
.primary {
    float: left;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}



/*icon*/
.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-help {
    background: url("../img/icon-help.png") repeat scroll 0 0 / 28px 21px transparent;
    height: 21px;
    width: 14px;
}


.missing {
    height: 450px; 
    padding-top: 20px; 
    padding-bottom: 49px;

    text-align: center;
}
.missing h1 {
    color: #FFFFFF;
    margin: 0 0 10px;
}
.missing p {
    font-size: 1.6em;
    margin-bottom: 50px;
}
.missing img {
    margin-bottom: 40px;
}

.light {
    color: #999999 !important;
    font-weight: normal !important;
}
html, body {
    height: 100%;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 62.5%;
    line-height: 1;
}

h1 {
    font-size: 4.2em;
    margin-bottom: 20px;
     color: #33383D;
    font-weight: bold;
    letter-spacing: -0.03em;
    line-height: 1.2;
}
#content {
    background-color: #27292D;
    border-bottom: 1px solid #E4E4DF;
    padding: 76px 10px 0;
    position: relative;
    z-index: 1;
}
li {
    list-style-type: none;
}
p {
    font-size: 1.25em;
    line-height: 1.3;
    margin-bottom: 15px;
}
p a {
    color: #75AED7;
}
strong {
    color: #33383D;
    font-weight: bold;
}

a {
    color: #4090BA;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}
